### JetBrains template
.idea/
*.iws

# IntelliJ
/out/
/classes/

### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

### Gradle template
.gradle
/build/
!gradle-wrapper.jar

### macOS template
*.DS_Store


